* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        text-rendering: optimizeLegibility;
}

body{
    
    background-color: #f1c40f;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 70px;
    overflow: hidden;
    text-align: center;
}

.row {
    max-width: 1140px;
}

h1{
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    
}

.header {
    background-size: cover;
    background-position: center;
    display: block;
}



/* ===================================

            PARAGRAGH

===================================== */

p {
    white-space: nowrap;
    font-size: 20px;
}

/* ===================================

            BUTTON

===================================== */

button {
    background: #d30d0d;
}



/* ===================================

            MAIN

===================================== */

.main {
    position: absolute;
    box-shadow: 2px 7px 7px #272822;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: font-size 0.5s;
    
    background-color: #272822;
    color: #fff;
}

.aravind {
    font-size: 70px;
    font-weight: 400;
    transition: font-size 0.5s;
    
}

.main:hover {
    font-size: 35%;
}

.aravind:hover {
    font-size: 200%;
}