<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="bg-home">
            <h2 class="float-left text-white">Dashboard</h2>
</body>
</html>
