@model TimesheetManagement.Models.LoginModel
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeSlotManagement</title>
    <link rel="stylesheet" href="LoginStyle.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2 class="rainbow-text" style="font-size:3.5em;">Forget Password</h2><br>
                <form method="post" action="PasswordVerification">
                
                    <div class="agile-field-txt" style="margin-top:-3em;">
                        <label style="color:white;">Please enter your Registered Mail Address</label>
                        <input style="margin-top:20px;margin-bottom:0px;" type="text" name="To" placeholder="Email" />
                    </div> 
                    <button class="glow-on-hover" type="submit" style="margin-top:0px;" >Click Me, To get Password!</button><br />
                    <div class="w3ls-bot"><a href="Login">Back to Login</a></div><br />
                    @{ 
                        if (ViewBag.Message == "Email Sent!")
                        {
                            <span style="color:greenyellow;">@ViewBag.Message</span><br />
                        }
                        else
                        {
                            <span style="color:red;margin-top:-70px;">@ViewBag.Message</span><br />
                        }
                    }

                 </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 3,
            speed: 100,
            glare: true,
            "max-glare": 0.2
        });
        function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
    </script>
</body>
</html>


